<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body> 
        <!--Logo Menu navegacion y lo necesario para que el usuario navegue en nuestra pagina-->
        <header>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="300"> 
            <nav>
                <ul>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li> 
                        <a href="/product">Product</a>
                        Link
                    </li>

                    <li>Link

                    </li>
                    <li>Link

                    </li>
                </ul>
            </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>

</html>